<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }} - StadiNyt</title>
  <link rel="stylesheet" href="{{ root }}/jamhub.css?{{ cache_buster }}" />
  <link rel="stylesheet" href="{{ root }}/font.css" />
</head>
<body>
<script type="text/javascript">
  if (navigator.appVersion.indexOf("Win") == -1) { document.body.className = "nice_fonts"; }
</script>

<div class="header">
  <h1>
    <a href="{{ root }}">StadiNyt</a>
  </h1>
  <h2>Find events in Helsinki</h1>
  <div class="header_tools">
    <a class="button" target="_blank"href="https://docs.google.com/forms/d/1L2tMc9mWZy62lNrXQsbhQmMF5pLKgfXZoDfF_z0ePKk/viewform">Submit a jam</a>

  </div>
</div>

{{> body }}

<div class="footer">
  StadiNyt is opensource,
  <a href="https://github.com/jontturi/stadinyt">view on GitHub</a>
  &middot;
  follow
  <a href="https://twitter.com/jonatannoponen">@JonatanNoponen</a>
  on Twitter
</div>

<script type="text/javascript" src="{{ root }}/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="{{ root }}/underscore-min.js"></script>
<script type="text/javascript" src="{{ root }}/moment.min.js"></script>
<script type="text/javascript" src="{{ root }}/jamhub.js?{{ cache_buster }}"></script>

<script type="text/javascript">
  new J.Header(".header");
</script>

</body>
</html>

