<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }} - StadiNyt</title>
  <link rel="stylesheet" href="{{ root }}/jamhub.css?{{ cache_buster }}" />
  <link rel="stylesheet" href="{{ root }}/font.css" />
  <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-27046573-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>

</head>
<body>
<script type="text/javascript">
  if (navigator.appVersion.indexOf("Win") == -1) { document.body.className = "nice_fonts"; }
</script>

<div class="header">
  <h1>
    <a href="{{ root }}">StadiNyt</a>
  </h1>
  <h2>Find events in Helsinki</h1>
  <div class="header_tools">
    <a class="button" target="_blank"href="https://github.com/jontturi/stadinyt/tree/master/jams#how-to-add-a-new-jam">Submit a jam</a>

  </div>
</div>

{{> body }}

<div class="footer">
  StadiNyt is opensource,
  <a href="https://github.com/jontturi/stadinyt">view on GitHub</a>
  &middot;
  follow
  <a href="https://twitter.com/jonatannoponen">@JonatanNoponen</a>
  on Twitter
</div>

<script type="text/javascript" src="{{ root }}/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="{{ root }}/underscore-min.js"></script>
<script type="text/javascript" src="{{ root }}/moment.min.js"></script>
<script type="text/javascript" src="{{ root }}/jamhub.js?{{ cache_buster }}"></script>

<script type="text/javascript">
  new J.Header(".header");
</script>

</body>
</html>

